@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fffccc;
}

.header .inner-logo {
  font-size: 24px;
  margin: 0;
}

.header .inner-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header .inner-menu li {
  margin-left: 20px;
}

.header .inner-menu li a {
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.header .inner-menu li a.active {
  color: orangered;
}